:root {
  --text-fill: #181818;
  --text-font-size: 12px;
  --circle-fill: #f3f3ff;
  --circle-stroke: #2593b8;
  --circle-stroke-width: 1.5px;
  --highlight-fill: #AD46FF;
  --highlight-stroke: #AD46FF;
  --highlight-stroke-width: 2px;
  --highlight-font-size: 12px;
  --highlight-font-weight: 600;
  --highlight-stroke-opacity: 0.8;
  --font-family: 'Poppins';
}

.dark-mode {
  --text-fill: #fafafa;
  --circle-fill: #1f1f2e;
  --circle-stroke: #53b7d8;
  --highlight-fill: #AD46FF;
  --highlight-stroke: #AD46FF;
}
